<div class="hide-for-print">
  <div class="dropdown">
    <strong>Hola, <%= current_user.name %>!</strong>
    <div class="dropdown-content">
      <p><%= link_to 'Ordenes', orders_path %></p>
      <p><%= link_to  'Crear Nuevo Elemento', new_item_path %></p>
      <p><%= link_to 'Página De Inicio', items_path %></p>
      <p><%= link_to 'Editar Perfil', edit_user_registration_path %></p>
      <p><%= button_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %></p>
    </div><!-- end of .dropdown-content -->
  </div><!-- end of .dropdown -->
</div>
