<%= link_to 'Order', order_path(@order) %>
<%= form_for @custom_item, url: {action: "update"} do |f| %>

  <table class="item-order-table">
    <tbody>
      <tr class="order-th">
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Refund Cantidad</th>
        <th>Refund Subtotal</th>
        <th>Actualizar</th>
      </tr>
      <tr  id= "<%= "cart-item-#{@custom_item.id}" %>">
        <td><%= @custom_item.name %></td>
        <td>$<%= @custom_item.price_given %></td>
        <td id="<%= "quantity-#{@custom_item.id}" %>"><%= @custom_item.quantity %></td>
        <td><%= @custom_item.subtotal %></td>
        <td><%= f.number_field :quantity_refunded, value: @custom_item.quantity_refunded, max: @custom_item.quantity, min: 0 %></td>
        <td><%= @custom_item.subtotal_refunded %></td>
        <td><%= f.submit "Update" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
