<table>
  <tbody>
    <tr class="order-th">
      <th>Marca</th>
      <th>Nombre</th>
      <th>Color</th>
      <th>Tamaño</th>
      <th>Grosor</th>
      <th>Precio Dado</th>
      <th>Cantidad Original</th>
      <th>Total Parcial Original</th>
      <th>Cantidad Reembolsada</th>
      <th>Subtotal De Reembolso</th>

      <!-- <th>Inventario</th> -->
    </tr>
    <% @cart_item_orders.each_with_index do |cart_item, ind| %>
        <tr  id= "<%= "cart-item-#{cart_item.id}" %>">
          <td><%= cart_item.brand %></td>
          <td><%= cart_item.name %></td>
          <td><%= cart_item.color %></td>
          <td><%= cart_item.size %></td>
          <td><%= cart_item.thickness %></td>
          <td>$<%= display_price(@cart[ind].price_given) %></td>
          <td id="<%= "quantity-#{cart_item.id}" %>"><%= @cart[ind].quantity %></td>
          <td>$<%= display_price(@cart[ind].subtotal) %></td>
          <td><%= display_refund(@cart[ind], 'quantity_refunded') %></td>
          <td>-$<%= display_refund(@cart[ind], 'subtotal_refunded') %></td>

          <!-- <td><%#= cart_item.inventory %></td> -->
        </tr>
      <% end %>

        <tr>
           <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td>Subtotal Final</td>
          <td>$ <%= number_with_precision(@subtotal_final, :precision => 2, :delimiter => ",") %> </td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td>Taxes Final</td>
          <td>$ <%= number_with_precision(@taxes_final, :precision => 2, :delimiter => ",") %> </td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td>Total Final</td>
          <td id='total'>$ <%= number_with_precision(@total_final, :precision => 2, :delimiter => ",") %> </td>
        </tr>

  </tbody>
</table>
