<h1>Show</h1>
<%=@order.id%>
<table>
  <tr>
    <th>Brand</th>
    <th>Name</th>
    <th>Color</th>
    <th>Size</th>
    <th>Thickness</th>
    <th>Price</th>
    <th>Price Given</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @order.item_orders.each do |item_order| %>
    <tr>
      <td><%=item_order.item[:brand]%></td>
      <td><%=item_order.item[:name]%></td>
      <td><%=item_order.item[:color]%></td>
      <td><%=item_order.item[:size]%></td>
      <td><%=item_order.item[:thickness]%></td>
      <td><%=item_order.item[:price]%></td>
      <td><%=item_order[:price_given]%></td>
      <td><%=item_order[:quantity]%></td>
      <td><%=item_order.subtotal%></td>
    </tr>
  <% end %>
</table>
