<%# = react_component('Order', props: {order: @order, cart: @cart, cart_items: @cart_items}, prerender: false) %>
<div class="order">
  <div class="edit-delete-order">
  <%= link_to 'Editar Forma De Pago', edit_order_path(@order) %>
  <%= link_to 'Borrar', order_path(@order), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Refund', new_order_refund_order_path(@order) %>
  </div>
  <h1><%= @order.id %></h1>
  <div id="print-refund-div" class="hide-for-print">
    <a href="#" onclick="window.print();return false;">Imprimir Página</a>
  </div>
  <%= render 'order_details'%>
</div>
