<%# = react_component('Order', props: {order: @order, cart: @cart, cart_items: @cart_items}, prerender: false) %>
<%= link_to 'Orders', orders_path %>
<div class="order">
  <h1><%= @order.id %></h1>
  <table>
    <tbody>
      <tr class="order-th">
        <th>Marca</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Tamaño</th>
        <th>Grosor</th>
        <th>Precio Dado</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Subtotal Refunded</th>
        <th>Cuantidad Refunded</th>
        <th>Inventario</th>
        <th>Refund</th>
      </tr>
      <% @cart_items.each_with_index do |cart_item, ind| %>
          <tr  id= "<%= "cart-item-#{cart_item.id}" %>">
            <td><%= cart_item.brand %></td>
            <td><%= cart_item.name %></td>
            <td><%= cart_item.color %></td>
            <td><%= cart_item.size %></td>
            <td><%= cart_item.thickness %></td>
            <td>$<%= @cart[ind].price_given %></td>
            <td id="<%= "quantity-#{cart_item.id}" %>"><%= @cart[ind].quantity %></td>
            <td>$<%= @cart[ind].subtotal %></td>
            <td>$<%= @cart[ind].subtotal_refunded %></td>
            <td><%= @cart[ind].quantity_refunded %></td>
            <td><%= cart_item.inventory %></td>
            <td>
              <%= link_to "Refund", edit_order_item_order_path(@order,@cart[ind].id) %>
            </td>
          </tr>
        <% end %>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td>Subtotal</td>
        <td class="cart-subtotal-value">$<%= @order.subtotal %></td>
        <td>Subtotal Refunded</td>
        <td class="cart-subtotal-value">$<%= @order.subtotal_refunded %></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td>Taxes</td>
        <td class="cart-taxes-value">$<%= @order.taxes %></td>
        <td>Taxes Refunded</td>
        <td class="cart-taxes-value">$<%= @order.taxes_refunded %></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td>Total</td>
        <td class="cart-total-value">$<%= @order.total %></td>
        <td>Total Refunded</td>
        <td class="cart-total-value">$<%= @order.total_refunded %></td>
      </tr>

    </tbody>
  </table>
</div>
