<%= form_for @item_order, url: {action: "update"} do |f| %>

  <table class="item-order-table">
    <tbody>
      <tr class="order-th">
        <th>Marca</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Tamaño</th>
        <th>Grosor</th>
        <th>Precio</th>
        <th>Precio Dado</th>
        <th>Cantidad</th>
        <th>Total Parcial</th>
        <th>Cantidad Devuelta</th>
        <th>Subtotal De Reembolso</th>
        <th>Actualizar</th>
      </tr>
      <tr  id= "<%= "cart-item-#{@item_order.id}" %>">
        <td><%= @item.brand %></td>
        <td><%= @item.name %></td>
        <td><%= @item.color %></td>
        <td><%= @item.size %></td>
        <td><%= @item.thickness %></td>
        <td>$<%= number_with_precision(@item.sold_price, :precision => 2, :delimiter => ",") %></td>
        <td>$<%= number_with_precision(@item_order.price_given, :precision => 2, :delimiter => ",") %></td>
        <td id="<%= "quantity-#{@item_order.id}" %>"><%= @item_order.quantity %></td>
        <td>$<%= number_with_precision(@item_order.subtotal, :precision => 2, :delimiter => ",") %></td>
        <td><%= f.number_field :quantity_refunded, value: @item_order.quantity_refunded, max: @item_order.quantity, min: 0 %></td>
        <td><%= number_field(@item_order.subtotal_refunded, :precision => 2, :delimiter => ",") %></td>
        <td><%= f.submit "Update" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
