<%= form_with(model: @item, local: true) do |form| %>

<div class="form-item">
  <p>
    <%= form.label :active %>
    <%= form.radio_button :active, true, :value => true%>
    <%= form.label :inactive %>
    <%= form.radio_button :active, false, :value => false%>
  </p>

  <p>
   <%= form.label :Nombre %><br>
   <%= form.text_field :name %>
  </p>

  <p>
   <%= form.label :Categoría %><br>
   <%= form.text_field :category %>
  </p>

  <p>
    <%= form.label :Marca %><br>
    <%= form.text_field :brand %>
  </p>

  <p>
    <%= form.label :Tamaño %><br>
    <%= form.text_field :size %>
  </p>

  <p>
    <%= form.label :Grosor %><br>
    <%= form.text_field :thickness %>
  </p>

  <p>
    <%= form.label :color %><br>
    <%= form.text_field :color %>
  </p>

  <p>
    <%= form.label :Precio_De_Venta %><br>
    <%= form.text_field :sold_price %>
  </p>

  <p>
    <%= form.label :Precio_De_Compra %><br>
    <%= form.text_field :bought_price %>
  </p>

  <p>
    <%= form.label :Inventario %><br>
    <%= form.text_field :inventory %>
  </p>

  <p>
    <%= form.label :Número_De_Artículo %><br>
    <%= form.text_field :stock_number %>
  </p>

  <%= form.file_field :pic, multiple: false, direct_upload: true %>

  <p>
   <%= form.submit %>
  </p>
</div>


<% end %>
