<div class="show-item">
  <p>
   <%= display_image(@item) %>
  </p>

  <p>
    <strong>Activo:</strong>
    <%= @item.active %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @item.name %>
  </p>

  <p>
    <strong>Categoría:</strong>
    <%= @item.category %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= @item.brand %>
  </p>

  <p>
    <strong>Tamaño:</strong>
    <%= @item.size %>
  </p>

  <p>
    <strong>Grosor:</strong>
    <%= @item.thickness %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @item.color %>
  </p>

  <p>
    <strong>Precio De Venta:</strong>
    <%= @item.sold_price %>
  </p>

  <p>
    <strong>Precio De Compra:</strong>
    <%= @item.bought_price %>
  </p>

  <p>
    <strong>Inventario:</strong>
    <%= @item.inventory %>
  </p>

  <p>
    <strong>Número De Artículo:</strong>
    <%= @item.stock_number %>
  </p>
</div>



<%= link_to 'Back', items_path %>
