<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
     <%= csrf_meta_tags %>
     <%= stylesheet_link_tag 'application'%>
     <%= javascript_pack_tag 'hello-world-bundle' %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="devise">
      <%= image_tag ("logo2.png"), :class => "style_image"%>
      <i class="fas fa-map-marked">
    </div>
    <%= yield %>
    <%= display_user_sign_in(user_signed_in?)%>
  </body>
</html>
