<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <div class="devise">
      <%= image_tag ("logo.png"), {:style => "margin:1em 0 1em 1em;", :width => "150px"} %>
      <%= form_tag(items_path method: :get) do %>
        <div class="search">
          <%= text_field_tag :item, params[:item] %>
          <%= submit_tag 'Search', name: nil %>
        </div>
      <% end %>
      <% if user_signed_in? %>
      <div class="dropdown">
        <strong><%= current_user.name %></strong>
      <div class="dropdown-content">
        <%= link_to  'Create New Item', new_item_path %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= button_to "Logout", destroy_user_session_path, :method => :delete %>
        <%= link_to "Sign up", new_user_registration_path  %>
      </div>
    </div>
      <% else %>
      <div class="Login">
        <%= link_to "Login", new_user_session_path  %>
      </div>
      <% end %>
    </div>
    <%= yield %>

  </body>
</html>
